{% extends "::backend.html.twig" %}

{% set active = 'sites' %}

{% block content %}
    <section class="content-header">
        <h1>
            Sitios Web
            <small>Listado de sitios</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Sitios</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <i class="fa fa-info fa-fw"></i> Para crear un nuevo Sitio Web debes hacerlo desde la página del Cliente que solicita el alta.
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listado de Sitios</h3>
                        {#<div class="box-tools">
                            <div class="input-group">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Buscar">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>#}
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>Nombre</th>
                                <th>Cliente</th>
                                <th class="hidden-xs">Características</th>
                                <th>Caducidad</th>
                            {% for site in sites %}
                                <tr>
                                    <td><strong><a href="{{ path('desport_sales_site_view', {site_id:site.id}) }}">{{ site.name }}</a></strong><br><small>( <a target="_blank" href="http://{{ site.name }}.{{ domain }}">{{ site.name }}.{{ domain }} <i class="fa fa-external-link"></i></a> )</small></td>
                                    <td><a href="{{ path('desport_sales_client_view', {client_id:site.client.id}) }}">{{ site.client.name }}</a></td>
                                    <td class="hidden-xs">
                                        <span class="label label-{% if site.bandwidth > 0 %}warning{% else %}default{% endif %}" title="Ancho de banda (Mb)"><i class="fa fa-tachometer"></i> AB: {{ site.bandwidth }}</span> 
                                        <span class="label label-{% if site.quota > 0 %}warning{% else %}default{% endif %}" title="Quota (Mb)"><i class="fa fa-cloud-upload"></i> Q: {{ site.quota }}</span> 
                                        <span class="label label-{% if site.maxFilespace > 0 %}warning{% else %}primary{% endif %}" title="Límite de archivos (Mb)"><i class="fa fa-file-photo-o"></i> S: {{ site.maxFilespace }}</span> 
                                        <span class="label label-{% if site.maxFilespace > 0 %}warning{% else %}primary{% endif %}" title="Límite de usuarios"><i class="fa fa-users"></i> U: {{ site.maxActiveusers }}</span> 
                                        <span class="label label-{% if site.ads %}danger{% else %}success{% endif %}" title="Publicidad"><i class="fa fa-tag"></i> P: {% if site.ads %}si{% else %}no{% endif %}</span></td>
                                    <td>{% if site.expires %}<span class="text-{% if date(site.expires) < date() %}danger{% else %}success{% endif %}">{{ site.expires | date("d/m/Y") }}</span>{% else %}no caduca{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody></table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}