{% extends "::backend.html.twig" %}

{% set active = 'sites' %}

{% block content %}
    <section class="content-header">
        <h1>
            Sitio Web
            <small>{{ site.name }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('desport_sales_site_index') }}">Sitios</a></li>
            <li class="active">Vista Sitio</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Información del sitio</h3>
                    </div>
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>Nombre del Sitio</dt>
                            <dd>{{ site.name }}</dd>
                            <dt>Cliente</dt>
                            <dd><a href="{{ path('desport_sales_client_view', {client_id:site.client.id}) }}">{{ site.client.name | default('?') }}</a></dd>
                            <dt>Fecha de creación</dt>
                            <dd>{{ site.dateCreated | date('d/m/Y') }}</dd>
                            <dt>Fecha de expiración</dt>
                            <dd>{% if site.expires %}<span class="text-{% if date(site.expires) < date() %}danger{% else %}success{% endif %}">{{ site.expires | date("d/m/Y") }}</span>{% else %}no caduca{% endif %}</dd>
                            <dt>Creado por:</dt>
                            <dd>{{ site.userCreated ? site.userCreated.name : 'desconocido' }}</dd>
                        </dl>
                    </div>
                </div>
                
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Características del sitio</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-suitcase fa-fw"></i> Cargar Producto <span style="margin-left:5px" class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    {% for product in products %}
                                    <li><a href="{{ path('desport_sales_site_load_product', {site_id: site.id, product_id: product.id}) }}">{{ product.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body clearfix">
                        <p class="col-sm-offset-4"><strong>Nota:</strong> El valor 0 (cero) indica "ilimitado"</p>
                        <form role="form" action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="site_bandwidth" class="col-sm-4 control-label">Ancho de banda</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" id="site_bandwidth" name="site_bandwidth" value="{{ site.bandwidth }}">
                                    <span class="input-group-addon">Mb</span>
                                </div>
                                <p class="help-block col-sm-offset-4">Transferencia de datos máxima cada mes. Sólo limitar en casos de abuso.</p>
                            </div>
                            <div class="form-group">
                                <label for="site_quota" class="col-sm-4 control-label">Espacio disponible</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" id="site_quota" name="site_quota" value="{{ site.quota }}">
                                    <span class="input-group-addon">Mb</span>
                                </div>
                                <p class="help-block col-sm-offset-4">Espacio en disco dedicado a la instalación del software y archivos. Sólo limitar en casos de abuso.</p>
                            </div>
                            <div class="form-group">
                                <label for="site_maxFilespace" class="col-sm-4 control-label">Límite de archivos</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" id="site_maxFilespace" name="site_maxFilespace" value="{{ site.maxFilespace }}">
                                    <span class="input-group-addon">Mb</span>
                                </div>
                                <p class="help-block col-sm-offset-4">Límite de espacio para archivos subidos por usuarios.</p>
                            </div>
                            <div class="form-group">
                                <label for="site_maxActiveusers" class="col-sm-4 control-label">Límite de usuarios</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" id="site_maxActiveusers" name="site_maxActiveusers" value="{{ site.maxActiveusers }}">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                                <p class="help-block col-sm-offset-4">Límite de usuarios activos. Una vez superado no se permite crear nuevos usuarios activos, pero no se eliminan cuentas activas.</p>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Publicidad</label>
                                <div class="checkbox col-sm-6">
                                    <label style="padding:0"><input type="checkbox" name="site_ads" value="1" {% if site.ads %}checked="checked"{% endif %}> Activar publicidad en el sitio</input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4">
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Instalación</h3>
                    </div>
                    <div class="box-body">
                        {% set progress_bar = ( installStages[0] + installStages[1] + installStages[2] + installStages[3] ) * 25 %}
                        <div class="progress xs progress-striped">
                            <div class="progress-bar progress-bar-{{ progress_bar == 100 ? 'success' : 'danger' }}" role="progressbar" aria-valuenow="{{ progress_bar }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_bar }}%">
                                <span class="sr-only">25% Completo</span>
                            </div>
                        </div>
                        
                        <div class="alert alert-warning alert-dismissable">
                            <i class="fa fa-warning"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>Precaución!</b> Ejecutar estas tareas puede tener consecuencias irreversibles. Por favor, actúa con prudencia.
                        </div>
                        
                        <p>Si alguna de las fases de instalación no se ha ejecutado correctamente puedes gestionarlas de forma manual usando los siguientes controles.</p>
                        <p><strong>¡El orden es importante!</strong> Si no se siguien los pasos de arriba a abajo puede dar lugar a errores. Si durante el proceso de instalación ha ocurrido algún error, una buena forma de solucionarlo es eliminar todos los pasos que se hubieran ejecutado con éxito y volver a ejecutarlos de uno en uno.</p>
                        
                        
                        <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-{{ installStages[0] ? 'success' : 'danger' }}">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Dominio
                                        </a>
                                    </h4>
                                    <div class="box-tools pull-right">
                                        {% if installStages[0] %}<a class="btn btn-danger" href="{{ path('desport_sales_site_install_undo', {site_id : site.id, stage_id : 0}) }}" onClick="return confirm('¿Seguro que deseas realizar esta acción?\nNo podrás deshacer los cambios.')"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
                                        {% else %}<a class="btn btn-default" href="{{ path('desport_sales_site_install_stage', {site_id : site.id, stage_id : 0}) }}"><i class="fa fa-sign-in fa-fw"></i> Ejecutar</a>{% endif %}
                                    </div>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="box-body">
                                        {% if installStages[0] %}
                                            <p class="text-success">Completada con éxito (<strong><a target="_blank" href="http://{{ site.name }}.{{ domain }}/">{{ site.name }}.{{ domain }}</a></strong>) <i class="fa fa-check"></i></p>
                                        {% else %}
                                            <p class="text-danger">No se ha registrado el dominio (<strong><a target="_blank" href="http://{{ site.name }}.{{ domain }}/">{{ site.name }}.{{ domain }}</a></strong>) <i class="fa fa-times"></i></p>
                                        {% endif %}
                                        <p class="text-muted">La fase de instalación del dominio supone indicar al sistema que se reserve un espacio de ejecución a determinado nombre de dominio. En esta fase quedan delimitados el ancho de banda máximo permitido y la cuota de disco duro en el servidor (diferente del espacio máximo para archivos, ya que éste incluye todo lo necesario para el funcionamiento del programa, además de los archivos subidos por los usuarios.)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-{{ installStages[1] ? 'success' : 'danger' }}">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Base de datos
                                        </a>
                                    </h4>
                                    <div class="box-tools pull-right">
                                        {% if installStages[1] %}<a class="btn btn-danger" href="{{ path('desport_sales_site_install_undo', {site_id : site.id, stage_id : 1}) }}" onClick="return confirm('¿Seguro que deseas realizar esta acción?\nNo podrás deshacer los cambios.')"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
                                        {% else %}<a class="btn btn-default" href="{{ path('desport_sales_site_install_stage', {site_id : site.id, stage_id : 1}) }}"><i class="fa fa-sign-in fa-fw"></i> Ejecutar</a>{% endif %}
                                    </div>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="box-body">
                                        {% if installStages[1] %}
                                            <p class="text-success">La base de datos se ha creado correctamente <i class="fa fa-check"></i></p>
                                        {% else %}
                                            <p class="text-danger">No se ha creado la base de datos <i class="fa fa-times"></i></p>
                                        {% endif %}
                                        <p class="text-muted">En esta fase se crean los permisos y se configura la base de datos que albergará toda la información del sistema.</p>
                                        <p class="text-warning">Si se borra la base de datos se pierden TODOS los datos de la web (usuarios, publicaciones, etc...).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-{{ installStages[2] ? 'success' : 'danger' }}">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Repositorio
                                        </a>
                                    </h4>
                                    <div class="box-tools pull-right">
                                        {% if installStages[2] %}<a class="btn btn-danger" href="{{ path('desport_sales_site_install_undo', {site_id : site.id, stage_id : 2}) }}" onClick="return confirm('¿Seguro que deseas realizar esta acción?\nNo podrás deshacer los cambios.')"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
                                        {% else %}<a class="btn btn-default" href="{{ path('desport_sales_site_install_stage', {site_id : site.id, stage_id : 2}) }}"><i class="fa fa-sign-in fa-fw"></i> Ejecutar</a>{% endif %}
                                    </div>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="box-body">
                                        {% if installStages[2] %}
                                            <p class="text-success">El repositorio está cargado <i class="fa fa-check"></i></p>
                                            <p class="text-warning">(Aunque no se puede garantizar que no esté corrupto.)</p>
                                            <p>Actualizar repositorio a la última versión: <a href="{{ path('desport_sales_site_install_stage', {site_id : site.id, stage_id : 4}) }}" class="btn btn-xs btn-primary">Actualizar <i class="fa fa-refresh"></i></a></p>
                                        {% else %}
                                            <p class="text-danger">No se ha cargado el repositorio <i class="fa fa-times"></i></p>
                                        {% endif %}
                                        <p class="text-muted">El repositorio son todos los archivos necesarios para poder ejecutar el programa. En esta fase se realiza una copia de la última versión del repositorio al espacio creado para este dominio. También se crea el archivo de configuración con todos los datos necesarios para que el software funcione en este entorno (contraseñas maestras, restricciones, características, etc...)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-{{ installStages[3] ? 'success' : 'danger' }}">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Instalación
                                        </a>
                                    </h4>
                                    <div class="box-tools pull-right">
                                        {% if installStages[3] %}<a class="btn btn-danger" href="{{ path('desport_sales_site_install_undo', {site_id : site.id, stage_id : 3}) }}" onClick="return confirm('¿Seguro que deseas realizar esta acción?\nNo podrás deshacer los cambios.')"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
                                        {% else %}<a class="btn btn-default" href="{{ path('desport_sales_site_install_stage', {site_id : site.id, stage_id : 3}) }}"><i class="fa fa-sign-in fa-fw"></i> Ejecutar</a>{% endif %}
                                    </div>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="box-body">
                                        <p class="text-muted">Durante la fase final de instalación se crean todas las tablas dentro de la base de datos, y éstas se rellenan con los datos iniciales para poder empezar a utilizar el programa. También podrían ejecutarse otras tareas consideradas fundamentales para el arranque inicial.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script>
<!--
$( document ).ready(function() {
    $('.box-tools a').click(function () {
        $(this).addClass('disabled');
        $(this).children('.fa-trash').removeClass('fa-trash').addClass('fa-spinner fa-spin');
        $(this).children('.fa-sign-in').removeClass('fa-sign-in').addClass('fa-spinner fa-spin');
    })
  });
-->
</script>
{% endblock %}