<table class="table table-hover">
    <tbody><tr>
        <th>Nombre</th>
        <th>Fase de venta</th>
        <th class="hidden-xs">Comentarios</th>
        <th style="min-width:270px">Acciones</th>
    </tr>
    {% set stages = {'':'Desconocido', 'contact':'En contacto', 'interest':'Muestra interés', 'no-interest':'No le interesa', 'conversion':'Conversión'} %}
    {% set stageLabel = {'':'default', 'contact':'warning', 'interest':'primary', 'no-interest':'danger', 'conversion':'success'} %}
    
    {% for client in clients %}
        <tr>
            <td>
                {% if client.ownedBy(app.user) %}<i class="fa fa-star text-yellow"></i> {% endif %}
                <strong><a href="{{ path('desport_sales_client_view', {client_id:client.id}) }}">{{ client.name }}</a></strong>
                {% if client.website %}
                    <br><small>(<a href="{{ client.httpWebsite }}" target="_blank">{{ client.website }}</a>)</small>
                {% endif %}
            </td>
            <td><span class="label label-{{ stageLabel[client.stage] }}">{{ stages[client.stage] }}</span></td>
            <td class="hidden-xs">{{ client.comments }}</td>
            <td>
                <a href="{{ path('desport_sales_client_edit', {client_id:client.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</a>
                <a href="{{ path('desport_sales_client_events', {client_id: client.id}) }}" class="btn btn-sm btn-default"><i class="fa fa-check-square-o"></i> Evento</a> 
                {% if client.hasEmail %}<a href="{{ path('desport_sales_client_contact', {client_id:client.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-envelope"></i> Contactar</a> {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody></table>