{% extends "::backend.html.twig" %}

{% set active = 'clients' %}

{% block content %}
    <section class="content-header">
        <h1>
            Clientes
            <small>Contactar Cliente</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('desport_sales_client_index') }}">Clientes</a></li>
            <li class="active">Contactar Cliente</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Enviar un mensaje a {{ client.name }}</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="{{ path('desport_sales_client_contact', {client_id:client.id}) }}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="message_subject">Asunto</label>
                                <input type="text" class="form-control" id="message_subject" name="message_subject" placeholder="Asunto..." value="{{ message.subject }}">
                            </div>
                            <div class="form-group">
                                <label for="message_text">Mensaje</label>
                                <p id="toolbar">
                                    <a data-wysihtml5-command="bold" class="btn btn-default" title="Negrilla"><i class="fa fa-bold fa-fw"></i></a>
                                    <a data-wysihtml5-command="italic" class="btn btn-default" title="Cursiva"><i class="fa fa-italic fa-fw"></i></a>
                                    <a data-wysihtml5-command="underline" class="btn btn-default" title="Subrayar"><i class="fa fa-underline fa-fw"></i></a>
                                     - 
                                    <a data-wysihtml5-command="insertUnorderedList" class="btn btn-default" title="Lista desordenada"><i class="fa fa-list-ul fa-fw"></i></a>
                                    <a data-wysihtml5-command="insertOrderedList" class="btn btn-default" title="Lista ordenada"><i class="fa fa-list-ol fa-fw"></i></a>
                                     - 
                                    <a data-wysihtml5-command="undo" class="btn btn-default" title="Deshacer"><i class="fa fa-undo fa-fw"></i></a>
                                    <a data-wysihtml5-command="redo" class="btn btn-default" title="Rehacer"><i class="fa fa-repeat fa-fw"></i></a>
                                </p>
                                <textarea rows="14" class="form-control" id="message_text" name="message_text">{{ message.text }}</textarea>
                            </div>
                        </div><!-- /.box-body -->
                        
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Automensajes</h3>
                    </div>
                    <div class="box-body" id="autoresponseContainer">
                        <div id="autoresponseLevel0">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="/js/wysihtml5x/wysihtml5x-toolbar.min.js"></script>
<script src="/js/wysihtml5x/parser_rules/advanced_and_extended.js"></script>
<script>
    function loadLevel(l) {
        if($('#autoresponseLevel' + l + ' select').val() == 'NONE') { return; }
        removeLevelR(l+1);
        
        $('#autoresponseLevel' + l).after('<div id="autoresponseLevel'+ (l + 1) +'"></div>');
        
        $('#autoresponseLevel' + (l + 1)).load('{{ path('desport_sales_messages_automessage_load_level', {client_id:client.id}) }}?l=' + $('#autoresponseLevel' + l + ' select').val());
    }
    function removeLevelR(l) { //Remove recursively from level l onward
        if($('#autoresponseLevel'+l).length > 0) {
            removeLevelR(l+1);
            $('#autoresponseLevel'+l).remove();
        }
    }
    function FillAutomessage(id, subject) {
        if(subject != ''){$('#message_subject').val(subject);}
        $.ajax( "/sales/messages/message/fill/" + id, {type:'post', data:$( "#AutoMessage" + id ).serialize()} )
        .done(function( data ) { editor.setValue(data); });
    }
    
    $('#autoresponseLevel0').load('{{ path('desport_sales_messages_automessage_load_level', {client_id:client.id}) }}?l=0');
    
    var editor = new wysihtml5.Editor('message_text', {
        toolbar: 'toolbar',
        parserRules:  wysihtml5ParserRules
    });
</script>
{% endblock %}