{% extends "::backend.html.twig" %}

{% set active = 'clients' %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ client.name }}
            <small>Página de cliente</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('desport_sales_client_index') }}">Clientes</a></li>
            <li class="active">Vista Cliente</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-8">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Mensajes</h3>
                        {% if client.hasEmail %}<div class="box-tools pull-right">
                            <a href="{{ path('desport_sales_client_contact', {client_id:client.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-envelope"></i> Contactar</a>
                        </div>{% endif %}
                    </div>
                    <div class="box-body">
                        {% if messages | length %}
                            <table class="table table-mailbox"><tbody>
                                     
                            {% for message in messages %}
                                {{ include('DesportPanelBundle:Message:mailboxRow.html.twig',{message:message}) }}
                            {% endfor %}   
                            
                            </tbody></table> 
                            
                        {% else %}
                            <p class="lead">No hay mensajes con este cliente</p>
                        {% endif %}
                    </div>
                </div>
                
                
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Datos de contacto</h3>
                        <div class="box-tools pull-right">
                            <a class="btn btn-default" href="{{ path('desport_sales_client_edit', {client_id:client.id}) }}"><i class="fa fa-edit fa-fw"></i> Editar</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Nombre del Cliente</dt>
                                    <dd>{{ client.name }}</dd>
                                    <dt>Persona de contacto</dt>
                                    <dd>{{ client.contactName | default('?') }}</dd>
                                    <dt>Teléfono</dt>
                                    <dd>{{ client.phone | default('?') }}</dd>
                                    <dt>Email</dt>
                                    <dd>{{ client.email | default('?') }}</dd>
                                    <dt>Página web</dt>
                                    <dd>{% if client.website %}<a href="{{ client.httpWebsite }}" target="_blank">{{ client.website }}</a>{% else %}?{% endif %}</dd>
                                    <dt>Introducido</dt>
                                    <dd>{{ client.date | date('j/m/Y') }}</dd>
                                    <dt>Comercial responsable</dt>
                                    <dd>{{ client.salesPerson ? client.salesPerson.name : '?' }}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-6">
                                <p>{{ client.addressFull | default('No hay dirección establecida para este cliente.') }}</p>
                                {% if client.addressFull %}
                                <div id="map-canvas" style="height:140px"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Proceso de Venta</h3>
                        <div class="box-tools pull-right">
                            <a class="btn btn-default" href="{{ path('desport_sales_site_new', {client_id:client.id}) }}"><i class="fa fa-plus fa-fw"></i> Crear Sitio</a>
                        </div>
                    </div>
                    <div class="box-body">
                        {% if client.sites | length %}
                            <ul class="list-group">
                            {% for site in client.sites %}
                                <li class="list-group-item"><strong class="text-primary"><a href="{{ path('desport_sales_site_view', {site_id : site.id}) }}">{{ site.name }}</a></strong> ( <a target="_blank" href="http://{{ site.name }}.{{ domain }}/">{{ site.name }}.{{ domain }} <i class="fa fa-external-link"></i></a> )</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        
                        {% set stages = {'':'Desconocido', 'contact':'En contacto', 'interest':'Muestra interés', 'no-interest':'No le interesa', 'conversion':'Conversión'} %}
                        {% set stageLabel = {'':'', 'contact':'has-warning', 'interest':'has-success', 'no-interest':'has-error', 'conversion':'has-success'} %}
                        
                        <form role="form" action="{{ path('desport_sales_client_stage', {client_id:client.id}) }}" method="post">
                            <div class="form-group {{ stageLabel[client.stage] }}">
                                <label for="client_stage">Fase de la venta:</label>
                                <select class="form-control" name="client_stage" id="client_stage">
                                    {% set stages = {'':'Desconocido', 'contact':'En contacto', 'interest':'Muestra interés', 'no-interest':'No le interesa', 'conversion':'Conversión'} %}
                                    {% for key,stage in stages %}
                                        <option value="{{ key }}"{% if key == client.stage %} selected="selected"{% endif %}>{{ stage }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="client_comments">Comentarios</label>
                                <textarea rows="4" class="form-control" id="client_comments" name="client_comments">{{ client.comments }}</textarea>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-edit fa-fw"></i> Modificar datos de venta</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <a href="{{ path('desport_sales_client_events', {client_id: client.id}) }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Evento</a>
                <h3>Historial de Eventos</h3>
                <ul class="timeline">
                    {% set lastEventDate = date() %}
                    {% for event in events %}
                        {% if loop.first or lastEventDate | date('Yz') != event.date | date('Yz') %}
                            <li class="time-label">
                                <span class="bg-aqua">
                                    {{ event.date | date('j / m / Y') }}
                                </span>
                            </li>
                            
                            {% set lastEventDate = event.date %}
                        {% endif %}
                        
                        {% include 'DesportPanelBundle:Event:EventType/' ~ event.type ~ '.html.twig' with { 'event' : event } %}
                    {% else %}
                        <p>Ningún evento por ahora</p>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </section>
{% endblock %}

{% if client.addressFull %}
    {% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    
    function setmap(address) {
        geocoder = new google.maps.Geocoder();
        
        geocoder.geocode( { 'address': '{{ client.addressFull }}'}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var mapOptions = {
                    zoom: 5,
                    center: results[0].geometry.location
                }
                
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    
    google.maps.event.addDomListener(window, 'load', setmap);
    
    </script>
    {% endblock %}
{% endif %}