{% extends '::base.html.twig' %}

{% block body %}
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="{% if app.user.hasRole('ROLE_ADMIN') %}{{ path('desport_admin_dashboard') }}{% else %}{{ path('desport_sales_dashboard') }}{% endif %}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="/logo_mini_white.png" alt="logo" />
                Deporde
            </a>
            
            {{ render(controller('DesportPanelBundle:Default:headerNavbar')) }}
            
        </header>
        
        
        <div class="wrapper row-offcanvas row-offcanvas-left">
        
            {{ render(controller('DesportPanelBundle:Default:sidebar', {'active':active|default('')})) }}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="callout callout-danger">
                        <h4><i class="fa fa-warning"></i> Error!</h4>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="callout callout-info">
                        <h4><i class="fa fa-check"></i> Éxito :)</h4>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                
                {% block content %}{% endblock %}
                
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
{% endblock %}