{% extends "::backend.html.twig" %}

{% set active = 'dashboard' %}

{% block content %}
    <section class="content-header">
        <h1>
            Portada
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Portada</li>
        </ol>
    </section>
    
    <section class="content">
        <h2 class="page-header">Este mes...</h2>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            {{ premium }}
                        </h3>
                        <p>
                            Cuentas Premium
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ribbon-b"></i>
                    </div>
                    <a href="{{ path('desport_sales_site_index') }}" class="small-box-footer">
                        M치s info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            {{ free }}
                        </h3>
                        <p>
                            Cuentas Gratuitas
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-paper-airplane"></i>
                    </div>
                    <a href="{{ path('desport_sales_site_index') }}" class="small-box-footer">
                        M치s info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            {{ client }}
                        </h3>
                        <p>
                            Nuevos Clientes
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{{ path('desport_sales_client_index') }}" class="small-box-footer">
                        M치s info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            {{ ticket }}
                        </h3>
                        <p>
                            Tickets
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-chatbox-working"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        M치s info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
        </div>
        
        
    </section>
{% endblock %}