{% extends "::backend.html.twig" %}

{% set active = 'dashboard' %}

{% block content %}
    <section class="content-header">
        <h1>
            Portada
            <small>Panel de Control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Portada</li>
        </ol>
    </section>
    
    <section class="content">
        <h2 class="page-header">Este mes...</h2>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>
                            {{ premium }}
                        </h3>
                        <p>
                            Cuentas Premium
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ribbon-b"></i>
                    </div>
                    <a href="{{ path('desport_sales_site_index') }}" class="small-box-footer">
                        Más info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            {{ free }}
                        </h3>
                        <p>
                            Cuentas Gratuitas
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tag "></i>
                    </div>
                    <a href="{{ path('desport_sales_site_index') }}" class="small-box-footer">
                        Más info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            {{ client }}
                        </h3>
                        <p>
                            Nuevos Clientes
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{{ path('desport_sales_client_index') }}" class="small-box-footer">
                        Más info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            {{ ticket }}
                        </h3>
                        <p>
                            Tickets
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-chatbox-working"></i>
                    </div>
                    <a href="{{ path('desport_sales_messages_index') }}" class="small-box-footer">
                        Más info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <h2>Últimos Eventos <a href="{{ path('desport_sales_events_index') }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Evento</a></h2>
                {% if events | length > 0 %}
                <ul class="timeline">
                    {% set lastEventDate = date() %}
                    {% for event in events %}
                        {% if loop.first or lastEventDate | date('Yz') != event.date | date('Yz') %}
                            <li class="time-label">
                                <span class="bg-aqua">
                                    {{ event.date | date('j / m / Y') }}
                                </span>
                            </li>
                            
                            {% set lastEventDate = event.date %}
                        {% endif %}
                        
                        {% include 'DesportPanelBundle:Event:EventType/' ~ event.type ~ '.html.twig' with { 'event' : event } %}
                    
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Ningún evento por ahora</p>
                {% endif %}
                
                <p class="text-center"><a href="{{ path('desport_sales_events_index') }}">Ver todos los eventos <i class="fa fa-angle-double-right"></i></a></p>
            </div>
            
            <div class="col-md-8">
                <h2>Últimos mensajes recibidos</h2>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bandeja de entrada</h3>
                        <div class="box-tools pull-right">
                            1-{{ messages | length }}/{{ messages_total }}
                            <div class=" btn-group">
                                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-chevron-left"></i></a>
                                <a class="btn btn-default btn-sm" href="{{ messages | length < messages_total ? path('desport_sales_messages_'~ folder ~'_page', {page:page+1}) : '#' }}"><i class="fa fa-chevron-right"></i></a>
                            </div><!-- /.btn-group -->
                        </div><!-- /.pull-right -->
                        {#<div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail"/>
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div><!-- /.box-tools -->#}
                    </div><!-- /.box-header -->
                
                    <div class="box-body no-padding">
                        {% if messages | length %}
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover"><tbody>
                                
                                {% for message in messages %}
                                {{ include('DesportPanelBundle:Message:mailboxRow.html.twig',{message:message}) }}
                                {% endfor %}   
                                
                            </tbody></table> 
                        </div><!-- /.mail-box-messages -->        
                        {% else %}
                        <div class="box-body">
                            <p class="lead">No hay ningún mensaje</p>
                        </div>
                        {% endif %}
                    
                    </div><!-- /.box-body -->
                </div><!-- /. box -->

            </div>
        </div>
    </section>
{% endblock %}