<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i>
                    {% if messages | length > 0 %}<span class="label label-warning">{{ messages | length }}</span>{% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li class="header">{% if messages | length > 0 %}Tienes {{ messages | length }} nuevos mensajes{% else %}No tienes nuevos mensajes{% endif %}</li>
                    {% if messages | length > 0 %}
                    <li>
                        <ul class="menu">
                            {% for message in messages %}
                            <li>
                                <a href="{{ path('desport_sales_messages_view', {message_id: message.id}) }}">
                                    <h4>
                                        {{ message.subject }}
                                        <small><i class="fa fa-clock-o"></i> {{ message.date | date("d/m/Y H:i") }}</small>
                                    </h4>
                                    <p>{{ message.text[0:35] }}{{ message.text | length > 35 ? '...' : '' }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="footer"><a href="{{ path('desport_sales_messages_index') }}">Ir a la bandeja de entrada</a></li>
                </ul>
            </li>
            
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-warning"></i>
                    {#<span class="label label-warning">10</span>#}
                </a>
                <ul class="dropdown-menu">
                    <li class="header">No hay eventos nuevos</li>
                    {#<li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            <li>
                                <a href="#">
                                    <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">View all</a></li>#}
                </ul>
            </li>
            
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>{{ app.user.name | default( app.user.username ) }} <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header bg-light-blue">
                        <img src="{{ app.user.avatar | default('/img/avatar_anonymous.png') }}" class="img-circle" alt="User Image" />
                        <p>
                            {{ app.user.name | default( app.user.username)  }} - Ventas
                            <small>Miembro desde Nov. 2012</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ path('desport_profile_edit') }}" class="btn btn-default btn-flat">Perfil</a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>