<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Crea tu web para el deporte en equipo. Rápido, fácil y personalizable">
        
        <title>Deporde.com | Crea tu web para el deporte</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

        <style>
            body {
                background-color: #F2F2F1;
            }
            .head_logo {
                width:100%;
                max-width:250px;
                margin: 70px auto 20px;
            }
            h1 {
                font-size: 44px;
                font-weight: 400;
            }
            h1 strong {
                font-style: italic;
                text-transform: uppercase;
            }
            h1 small {
                font-weight: 100;
                display: block;
                margin-top:25px;
            }
            
            .signup {
                margin-top: 50px;
                background-color: #111;
                border: 1px solid #CCC;
                border-width: 1px 0;
                padding: 20px 5px 40px;
            }
            .signup h2 {
                color: #FFF;
                margin: 10px 0 30px; 
                font-size: 40px;
                font-weight: 300;
            }
            .signup p {
                color: #FFF;
            }
            .signup label {
                color: #FFF;
                text-align: left;
                font-size: 22px;
                font-weight: normal;
                margin-top: 15px;
            }
            .signup #step2 .btn.btn-lg {
                font-size: 1.6em;
            }
            
            .features {
                padding: 70px 0;
                background-color: #FFF;
            }
            .features .feature {
                margin-top: 80px;
            }
            .features img {
                margin:0 auto;
            }
            .features p {
                color: #666;
            }
            .features h2 {
                margin-bottom: 30px;
            }
            
            @media (max-width: 767px) { /* Extra Small devices */
                .head_logo {
                    width: 30%;
                    margin: 30px auto 20px;    
                }
                h1 {
                    font-size: 32px;
                }
                .signup h2 {
                    font-size: 26px;
                }
                .signup #step1 .btn.btn-lg {
                    margin-top: 6px;
                }
            }
        </style>
    </head>
    
    <body>
        <div class="container text-center">
            <img src="/logo.png" class="head_logo">
            
            <h1>Crea la web para <br><strong>tu deporte en equipo.</strong> <br><small>– Rápido, fácil y personalizable – </small></h1>
        </div> 
        
        <div class="signup">
            <div class="container text-center">
                <h2>Crear ahora una cuenta gratuita</h2>
                <form class="row" id="step1">
                    <div class="col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-3">
                        <input type="text" class="form-control input-lg" placeholder="Escribe tu email..." id="signup_email" name="client_email">
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <button type="button" class="btn btn-success btn-block btn-lg" onClick="submitEmail()">Empezar <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </form>
                <form id="step2" style="display:none">
                    <input type="hidden" style="display:none" name="client_code" id="client_code">
                    <div class="row">
                        <label class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">Nombre del club:</label>
                        <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3">
                            <input type="text" class="form-control input-lg" placeholder="" id="signup_name" name="client_name">
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">Elige dirección web:</label>
                        <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3">
                            <div class="input-group">
                              <input type="text" class="form-control input-lg" aria-describedby="basic-addon2" id="signup_url" name="site_name">
                              <span class="input-group-addon" id="basic-addon2">.deporde.com</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">Tu nombre de usuario:</label>
                        <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3">
                            <input type="text" class="form-control input-lg" placeholder="" id="signup_contactName" name="client_contactName">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <hr>
                            <button type="button" class="btn btn-success btn-block btn-lg" onClick="submitStep2()">Crear web <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
                <div id="step3" style="display:none">
                    <p class="lead"><i class="fa fa-spinner fa-pulse"></i> Creando la página web...</p>
                    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                        <div class="progress">
                          <div id="processBar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">0% Completado</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div id="step4" style="display:none">
                    <p class="lead">¡Página creada!</p>
                    <p>En breve recibirás un correo electrónico con un enlace para completar el registro.</p>
                </div>
            </div>
        </div>
        
        <div class="features">
            <div class="container">
                <h2 class="text-center">Todo lo que necesitáis, en un único lugar.</h2>
                
                <hr style="width:60%">
                
                <div class="row feature">
                    <div class="col-sm-8 pull-right">
                        <h3>Comunicación</h3>
                        <p class="lead">Tanto interna como externa. Crea formularios de contacto y páginas de información totalmente personalizados.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/web_comunicacion.png" class="img-responsive" />
                    </div>
                </div>
                
                <hr>
                
                <div class="row feature">
                    <div class="col-sm-8">
                        <h3>Calendario</h3>
                        <p class="lead">Organiza todas las actividades de forma colaborativa y gestiona la asistencia de los miembros del equipo.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/web_calendario.png" class="img-responsive" />
                    </div>
                </div>
                
                <hr>
                
                <div class="row feature">
                    <div class="col-sm-8 pull-right">
                        <h3>Tracks GPS</h3>
                        <p class="lead">Totalmente integrado. Selecciona tu archivo de GPS y se extraerán automáticamente todos los datos y el recorrido sobre el mapa.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/web_ruta.png" class="img-responsive" />
                    </div>
                </div>
                
                <hr>
                
                <div class="row feature">
                    <div class="col-sm-8">
                        <h3>Usuarios</h3>
                        <p class="lead">Mensajes privados, gestión de permisos, rendimiento personal y ranking de todos los usuarios.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/img/web_usuarios.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var client_code = false;
            
            function submitEmail() {
                $('#step1').addClass('animated fadeOutUp');
                
                $.ajax( "{{ path('desport_signup') }}", {type:'post', data:$( "#step1").serialize()} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#step1').removeClass('animated fadeOutUp');
                    } else {
                        $('#client_code').val(data.client_code);
                        loadStep2();
                    }
                });
            }
            
            function loadStep2() {
                $('#step1').css('display','none');
                $('#step2').css('display','block').addClass('animated fadeInUp');
            }
            
            function submitStep2() {
                $('#step2').addClass('animated fadeOutUp');
                
                $.ajax( "{{ path('desport_sitecreate') }}", {type:'post', data:$( "#step2").serialize()} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#step2').removeClass('animated fadeOutUp');
                    } else {
                        process1();
                    }
                });
            }
            
            function process1() {
                $('#step2').css('display','none');
                $('#step3').css('display','block').addClass('animated fadeInUp');
                
                $.ajax( "{{ path('desport_sitecreate_stage',{stage_id:0}) }}", {} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#processBar').removeClass('active');
                    } else {
                        process2();
                    }
                });
            }
            function process2() {
                $('#processBar').width('10%');
                
                $.ajax( "{{ path('desport_sitecreate_stage',{stage_id:1}) }}", {} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#processBar').removeClass('active');
                    } else {
                        process3();
                    }
                });
            }
            function process3() {
                $('#processBar').width('20%');
                
                $.ajax( "{{ path('desport_sitecreate_stage',{stage_id:2}) }}", {} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#processBar').removeClass('active');
                    } else {
                        process4();
                    }
                });
            }
            function process4() {
                $('#processBar').width('70%');
                
                $.ajax( "{{ path('desport_sitecreate_stage',{stage_id:3}) }}", {} )
                .done(function( data ) { 
                    if(data.error){
                        displayError(data.error);
                        $('#processBar').removeClass('active');
                    } else {
                        processend();
                    }
                });
            }
            function processend() {
                $('#processBar').width('100%');
                
                $('#step3').css('display','none');
                $('#step4').css('display','block');
            }
            
            function displayError(error_code) {
            
                switch(error_code) {
                    case 'empty_email': alert('Debes introducir un email'); break;
                    case 'empty_fields': alert('Debes rellenar todos los campos'); break;
                    case 'name_not_available': alert('Esa dirección web no está disponible. Prueba con otra.'); break;
                    case 'no_client': alert('Error. No has sido registrado correctamente.'); break;
                    case 'bad_request': alert('Error interno. Por favor vuelve a empezar o ponte en contacto con nosotros.'); break;
                    default: alert(error_code);
                }
            }
            
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-46778035-2', 'auto');
          ga('send', 'pageview');
        
        </script>
    </body>
</html>