<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ app.user.avatar | default('/img/avatar_anonymous.png') }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hola, {{ app.user.name | default( app.user.username) }}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        {#}
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        #}
        
        <ul class="sidebar-menu">
            <li{% if active == 'dashboard'%} class="active"{% endif %}>
                <a href="{% if app.user.hasRole('ROLE_ADMIN') %}{{ path('desport_admin_dashboard') }}{% else %}{{ path('desport_sales_dashboard') }}{% endif %}">
                    <i class="fa fa-dashboard"></i> <span>Portada</span>
                </a>
            </li>
            <li{% if active == 'messages'%} class="active"{% endif %}>
                <a href="{{ path('desport_sales_messages_index') }}">
                    <i class="fa fa-envelope"></i> <span>Mensajes</span>
                </a>
            </li>
            <li{% if active == 'clients'%} class="active"{% endif %}>
                <a href="{{ path('desport_sales_client_index') }}">
                    <i class="fa fa-user"></i> <span>Clientes</span>
                </a>
            </li>
            <li{% if active == 'sites'%} class="active"{% endif %}>
                <a href="{{ path('desport_sales_site_index') }}">
                    <i class="fa fa-book"></i> <span>Sitios Web</span>
                </a>
            </li>
            <li{% if active == 'events'%} class="active"{% endif %}>
                <a href="{{ path('desport_sales_events_index') }}">
                    <i class="fa fa-check"></i> <span>Eventos</span>
                </a>
            </li>
            <li{% if active == 'products'%} class="active"{% endif %}>
                <a href="#">
                    <i class="fa fa-suitcase"></i> <span>Productos</span>
                </a>
            </li>
        </ul>
    </section>
</aside>