{% set PREKEYS = {'%APP_USER_NAME%':app.user.name, '%CLIENT_NAME%':client ? client.name : '', '%CLIENT_CONTACT_NAME%':client ? client.contactName : '', '%CLIENT_SITE_NAME%':client and client.sites| length ? client.sites[0].name ~ '.' ~ domain : '' | default('')} %}
<hr>
<form method="post" id="AutoMessage{{ automessage.id }}">
<p class="lead">{{ automessage.name }}</p>

{% for key,name in automessage.fields %}
<div class="form-group">
    <label>{{ name }}</label>
    <input type="text" class="form-control" name="{{ key | replace({'%':''}) }}" id="AM{{ key | replace({'%':''}) }}" value="{{ PREKEYS[key] | default('') }}">
</div>
{% endfor %}

<button onClick="FillAutomessage({{ automessage.id }}, '{{ automessage.subject }}')" type="button" class="btn btn-primary">Cargar mensaje</button>
</form>