{% extends "::backend.html.twig" %}

{% set active = 'clients' %}

{% block content %}
    <section class="content-header">
        <h1>
            Mensaje
            <small>{% if message.client %}<a href="{{ path('desport_sales_client_view', {client_id:message.client.id}) }}">{{ message.client.name }}</a>{% else %}sin cliente asociado{% endif %}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li>{% if message.client %}<a href="{{ path('desport_sales_client_view',{client_id:message.client.id}) }}">Cliente</a>{% else %}<a href="{{ path('desport_sales_messages_index') }}">Mensajes</a>{% endif %}</li>
            <li class="active">Vista Mensaje</li>
        </ol>
    </section>
    
    <section class="content">
    
        <div class="box box-solid">
            <div class="box-body">
                {% if message.ticket %}
                    {% set ticketState = {'new': 'Nuevo', 'open': 'Abierto', 'pending reminder': 'Pendiente (recordar)', 'pending auto close-': 'Pendiente (autocierre, sin éxito)', 'pending auto close+': 'Pendiente (autocierre, con éxito)', 'closed successful': 'Cerrado con éxito', 'closed unsuccessful': 'Cerrado sin éxito'} %}
                    <div class="btn-group">
                        <a class="btn btn-danger" href="{{ path('desport_sales_messages_ticket_view', {ticket_id: message.ticket.id}) }}"><i class="fa fa-life-ring fa-fw"></i> <strong>Ticket:</strong> {{ ticketState[message.ticket.state] }}</a>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Estados de ticket</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for stateKey, stateName in ticketState %}
                                <li><a href="{{ path('desport_sales_messages_ticketstate', {message_id: message.id, state: stateKey}) }}">{% if stateKey == message.ticket.state %}<i class="fa fa-check"></i> {% endif %}{{ stateName }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="#" onclick="$('#stateInfo').toggle();"><em>Información sobre los estados</em></a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-default" href="{{ path('desport_sales_messages_ticketcreate', {message_id: message.id}) }}"><i class="fa fa-life-ring fa-fw"></i> Crear Ticket</a>
                {% endif %}
                {% if message.recipientDomain(domain) %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><i class="fa fa-paper-plane-o"></i> Transferir</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Transferir mensaje a</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for user in users %}
                            <li><a href="{{ path('desport_sales_messages_transfer', {message_id: message.id, user_id: user.id}) }}">{% if message.userTo and message.userTo.id == user.id %}<i class="fa fa-check"></i> {% endif %}{{ user.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <a href="{{ path('desport_sales_messages_setunread', {message_id: message.id}) }}" class="btn btn-default"><i class="fa fa-eye"></i> Marcar como no leída</a>
                
                <div id="stateInfo" style="display:none;">
                    <h3>Información sobre los estados de un ticket:</h3>
                    <dl class="dl-horizontal">
                        <dt>Nuevo</dt>
                        <dd>Un ticket recién creado, sin un estado definido. Debería asignarse un estado (por ejemplo, abierto) lo antes posible.</dd>
                        <dt>Abierto</dt>
                        <dd>Un ticket que no se ha resuelto pero que no está pendiente de una respuesta.</dd>
                        <dt>Pendiente (recordar)</dt>
                        <dd>Un ticket que está pendiente de respuesta (generalmente por parte del equipo de ventas, aunque también podría ser del cliente). Se emitirá un recordatorio cada 24 horas hasta que se modifique el estado.</dd>
                        <dt>Pendiente... sin éxito</dt>
                        <dd>Un ticket no resuelto, que si no se modifica el estado en las próximas 72 horas se transformará en "Cerrado sin éxito".</dd>
                        <dt>Pendiente... con éxito</dt>
                        <dd>Un ticket no resuelto, que si no se modifica el estado en las próximas 72 horas se transformará en "Cerrado con éxito".</dd>
                        <dt>Cerrado con éxito</dt>
                        <dd>Un ticket resuelto y que no requiere más intervención.</dd>
                        <dt>Cerrado sin éxito</dt>
                        <dd>Un ticket no resuelto pero que no requiere más intervención.</dd>
                    </dl>
                </div>
            </div>
        </div>
        
        <div class="box box-{{ message.ticket ? 'danger' : 'primary' }}">
            <div class="box-header">
                <h3 class="box-title">{% if message.ticket %}<i class="fa fa-life-ring fa-fw"></i> {% endif %}{{ message.subject }}</h3>
                <div class="box-tools pull-right">
                    <span style="padding-right:20px">{{ message.date | date("d/m/Y H:i") }}</span> <a href="#response" class="btn btn-default" onClick="$('#message_text').focus();return false;"><i class="fa fa-reply"></i></a>
                </div>
            </div>
            <div class="box-body">
                <p>{% if message.userFrom %}<img src="{{ message.userFrom.avatar | default('/img/avatar_anonymous.png') }}" style="max-height:24px;"> <strong>{{ message.userFrom.name }}</strong>{% else %}<strong>{{ message.emailFrom }}{% endif %}</strong>
                <br><span class="text-muted">para {{ message.userTo ? message.userTo.name : message.emailTo }}</span></p>
                
                
                <div class="email-body">
                    {{ message.textHTML | raw }}
                    
                    
                    {% if message.attachments | length > 0 %}
                        <hr>
                        <h3>Archivos adjuntos:</h3>
                        
                        <ul>
                        {% for attachment in message.attachments %}
                            <li>
                                <a href="{{ path('desport_sales_messages_attachment', {attachment_id:attachment.id}) }}">{{ attachment.name }}</a>  - 
                                <a href="{{ path('desport_sales_messages_attachment', {attachment_id:attachment.id}) }}" class="btn btn-success btn-xs"><i class="fa fa-download"></i> Descargar</a> 
                                {% if attachment.keep %}
                                <a href="{{ path('desport_sales_messages_attachment_unkeep', {attachment_id:attachment.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> No conservar</a>
                                {% else %}
                                <a href="{{ path('desport_sales_messages_attachment_keep', {attachment_id:attachment.id}) }}" class="btn btn-default btn-xs"><i class="fa fa-check"></i> Conservar</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                        
                        <p><em>Si los archivos adjuntados son importantes no olvides pulsar en "Conservar". De lo contrario se eliminarán del sistema pasado un tiempo.</em></p>
                    {% endif %}
                    
                    {% if message.parentMessage %}
                        <h3>En respuesta a:</h3>
                        <div class="mailbox">
                        <table class="table table-mailbox"><tbody>
                        {{ include('DesportPanelBundle:Message:mailboxRowRecursive.html.twig',{message:message.parentMessage}) }}
                        </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Responder</h3>
            </div>
            <div class="box-body">
                <div class="email-response">
                    <form role="form" action="{#{ path('desport_sales_client_contact', {client_id:client.id}) }#}" method="post">
                        <a name="response" id="response"></a>
                        <input type="text" class="form-control" id="message_subject" name="message_subject" placeholder="Asunto..." value="{{ response.subject | default(message.subjectRe) }}"><br>
                        <textarea rows="4" class="form-control" id="message_text" name="message_text">{{ response.text }}</textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}