{% extends "::backend.html.twig" %}

{% set active = 'clients' %}

{% block content %}
    <section class="content-header">
        <h1>
            Mensaje
            <small>{{ message.subject }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('desport_sales_client_index') }}">Mensajes</a></li>
            <li class="active">Vista Mensaje</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{ message.subject }}</h3>
                        <div class="box-tools pull-right">
                            <a href="" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <p>{% if message.userFrom %}<img src="{{ message.userFrom.avatar }}" style="max-height:24px;"><strong>{{ message.userFrom.name }}</strong>{% else %}<strong>{{ message.emailFrom }}{% endif %}</strong></p>
                        <p class="text-muted">para {{ message.userTo ? message.userTo.name : message.emailTo }}</p>
                        {{ message.textHTML }}
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                
            </div>
        </div>
    </section>
{% endblock %}