<li>
    <!-- timeline icon -->
    <i class="fa fa-book bg-green"></i>
    <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> {{ event.date | date('g:i a') }}</span>

        <h3 class="timeline-header"><a href="{{ path('desport_sales_site_view', {site_id: event.site.id}) }}">Nuevo Sitio Web</a> {{ event.site.name }}</h3>

        <div class="timeline-body">
            Introducido por {{ event.user.name }}
            <br> {{ event.text }}
        </div>

        <div class='timeline-footer'>
            <a href="{{ path('desport_sales_site_view', {site_id: event.site.id}) }}" class="btn btn-success btn-xs">Ver detalles del sitio</a>
        </div>
    </div>
</li>